.CargaMaterialesContainer {
    display: flex;

    button {
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
        background-color: $selected !important;
        color:$contrast !important;
        height:55px !important;
    }
   input{
   }
   div{
 
   }
}

.editCargaMaterialesContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .descripcionCompra {
        display: flex;
        justify-content: center;

        ion-badge {
            background-color: $selected;
            align-items: center;
            color: $contrast;
        }
    }

  

    div {
        text-align: left !important;

    }

    button {
        margin: 3px !important;
    }
}