.search-container {
    width: 100% !important;
    display: flex;
    flex-direction: column-reverse;

    input {
        height: 60px;
        color: black;
        background-color: white;
    }

    .css-q0jhri-MuiInputBase-root-MuiInput-root {
        width: 100%;
    }

}

.selectedTab {
    background-color: $selected;
    border-radius: 5px;
}


.containerGastoMes {
    background-color: $selected;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;

    p {}
}

.dateInputsContainer {
    display: flex !important;
    flex-direction: row;
    width: 100%;
    justify-content: start !important;

    ion-badge {
        display: flex;
        align-items: center;
        background-color: $contrast;
    }

    input {
        margin: 10px;
        width: 120px;
        border: none !important;
    }
}