.search-container {
    width: 100% !important;

    .css-q0jhri-MuiInputBase-root-MuiInput-root {
        width: 100%;
    }
}

.selectedTab {
    background-color: $selected;
    border-radius: 5px;
}


.containerGastoMes {
    background-color: $selected;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
}

.descripcionCompra {
    text-align: center !important;
    width: 100% !important;
    background-color: $selected;
    border-radius: 10px;

}

.search-container {
    display: flex;
    flex-direction: column-reverse;

    input {
        height: 60px;
    }
}

/* 
.selectMonthContainer {
    background-color: rgba(149, 191, 222, 0.389);

} */