.contentCategoriasYTipos {

    .contentCargaCategoriaProducto {
        background-color: rgba(196, 196, 196, 0.082);
        border-radius: 10px !important;

        input {
            max-width: 200px;
        }

    }

    
    border: solid 1px $selected;

    .CargaTipoItemContent {
        border-bottom: solid 1px $selected;
        background-color: rgba(196, 196, 196, 0.082);
        border-radius: 10px !important;

        button {
            width: 200px;
            margin: 5px;
        }

        input {
            margin: 5px;
            max-width: 200px;
        }

    }


    .RegistrarItemCategoriaContent {
        padding: 5px;
    }
}

