.tittleComboDeMaterialesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $selected;
    text-align: center;

}

.tittleComboDeMiMaterialesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 0, 0, 0.208);
    text-align: center;




}

.tableMateriales {
    background-color: rgb(255, 255, 255) !important;

    /*     max-height: 300px;
 */
    button {
        background-color: transparent;
        color: rgba(111, 113, 117, 0.993)
    }

}

.panelComboCreate {
    display: flex;
    justify-content: space-around;

    input {
        width: 120px;
    }
}

.panelCreateCombo {
    width: 100%;
    display: flex;
    margin: 20px;

}

.comboBox {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;


    input {
        width: 100px;
    }

    ion-button {
        width: 50px !important;
    }

    background-color: $selected;

 
}

.comboBoxBottom {
    width: 100%;
    display: flex;
    justify-content: start;

    ion-button {
    }

    input {
    }
}