.ant-modal-content {
    background-color: blue;
    width: fit-content;




    .editCargaMaterialesContainer {
        display: flex;
        flex-direction: column;
        width: 200px !important;


    }


}

.ant-modal {
    display: flex !important;
    align-content: center !important;
    align-items: center !important;
    justify-content: center !important;


    .ant-modal-content {
        width: 100%;
    }

}