.ant-modal-content {
    background-color: blue;
    width: fit-content;




    .editCargaMaterialesContainer {
        display: flex !important;
        flex-direction: column !important;
        flex-wrap: wrap !important;
        align-content: center;
        align-items: center;

        input {
            width: 100% !important
        }

        ant-badge {
            width: 100% !important;
        }

        .ant-select {
            width: 100%;
        }

        .ant-input {
            width: 100%;
        }

        .ant-input-group-wrapper {
            width: 100%;
        }
    }


}

.ant-modal {
    display: flex !important;
    align-content: center !important;
    align-items: center !important;
    justify-content: center !important;


    .ant-modal-content {
        width: 100%;
    }

}