.imgListProduct {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 20px;


}

.addPhotoPic {
    width: 100px !important;
    height: 100px !important;
    object-fit: cover !important;
    border-radius: 20px;
}

.controlPanelAddProduct {

    justify-content: start !important;
    align-items: start !important;

    button {
        margin: 20px;
        color: white;
        background-color: $contrast;
        display: flex;
        align-items: center;
        justify-content: center;
    }


}

.controlPanelAddProduct {
    display: flex;
    align-items: center;

    ion-icon {
        width: 50px !important;
        color: $contrast
    }

    div {}

    .ant-input,
    .css-dev-only-do-not-override-xu9wm8,
    input,
    .css-13cymwt-control {
        font-size: 1rem !important;

    }



    /*     .css-13cymwt-control{
        background-color: blue !important;
        height: 40px;
    }
 */
}