.RegistrarCostoBox {
    background-color: $light;


    .selectionCombo {
        display: flex;
        flex-wrap: wrap;
        padding: 10px;



        ion-icon {
            color: $contrast
        }
    }






}