.reportProductosContent {
    background-color: $light;

    ion-badge {
        margin: 10px;
    }





    .search-container {
        border: solid 1px $selected;

        input {
            height: 30px;
            border: solid 1px $light;

        }

    }

    
}

.addPhotoPic {
    border-radius: 10px;
    padding: 3px;
}