.reporteCostosContent {
    background-color: $light;
    padding: 15px;

    ion-badge {
        margin: 10px;
    }

    .navContentReportCostos {
        display: flex;
        flex-direction: column;
        width: 100%;

        .datePickerCatalog {
            min-width: 460px;
        }
        input{
            width: 100%;
        }
      
    }

    /*     display: flex;
 */
}


.search-container-costos {
    border-radius: 10px;
    background-color: $light;
    margin-left: 20px;

}