@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {


    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px !important;

}


* {
    font-family: 'Didact Gothic', sans-serif !important;
}

$selected: rgba(172, 183, 207, 0.331);
$secondary : rgba(186, 157, 192, 0.371);
$contrast: rgb(55, 81, 159);
$darki: rgba(63, 59, 102, 0.192);




ion-toolbar {}

ion-fab {
    top: 0;
    margin: 1px;


}

ion-fab-button {
    background: transparent !important;
    --box-shadow: none;
}

/* button{
    background-color: $contrast !important;
    color:rgb(255, 255, 255) !important;
} */
ion-badge {
    color: $contrast;
    background-color: transparent;
    margin-left: 15px;
}