@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');


* {
    font-family: 'Didact Gothic', sans-serif !important;
}

$selected: rgba(172, 183, 207, 0.331);
$secondary : rgba(186, 157, 192, 0.371);
$contrast: rgb(55, 81, 159);
$darki: rgba(9, 9, 20, 0.767);
$primary: rgba(88, 211, 149, 0.185);
$light : rgba(196, 196, 196, 0.082);




header {
    background-color: rgba(142, 143, 223, 0.11) !important;
}

input {
    color: black !important;
}

.imageAddIcon {
    cursor: pointer;
    padding: 0;
    border-radius: 10px;
}