@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {


    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px !important;

}


* {
    font-family: 'Didact Gothic', sans-serif !important;
}

$selected: rgba(99, 132, 197, 0.331);

